In [2]:
import pandas as pd
import numpy as np

In [ ]:
amazon_df = pd.read_csv("/Users/jbpatty/project-4/Grocery_and_Gourmet_Food.csv", error_bad_lines=False, nrows=1000000, header=None)

In [ ]:
amazon_df.to_csv (r'/Users/jbpatty/project-4/amazon_df.csv', index = False, header=None)

In [ ]:
# Read file into a list of strings (each line is a string)

In [3]:
with open('/Users/jbpatty/project-4/amazon_df.csv') as f:
    data = f.readlines()

In [4]:
len(data)

1000000

In [5]:
# Capitalize booleans

In [6]:
data = [row.replace(': true', ': True') for row in data]

In [7]:
data = [row.replace(': false', ': False') for row in data]

In [8]:
data[0]

'"{""overall"": 5.0"," ""verified"": True"," ""reviewTime"": ""06 4"," 2013"""," ""reviewerID"": ""ALP49FBWT4I7V"""," ""asin"": ""1888861614"""," ""reviewerName"": ""Lori"""," ""reviewText"": ""Very pleased with my purchase. Looks exactly like the picture and will look great on my cake. It definitely will sparkle."""," ""summary"": ""Love it"""," ""unixReviewTime"": 1370304000}"\n'

In [9]:
row = data[0]

In [10]:
def get_values_from_row(row):
    
    return [(' '.join(v.split(',')[0:-1])).replace('"', '').strip() for v in row.split(':')[1:]]

get_values_from_row(row)

['5.0',
 'True',
 '06 4  2013',
 'ALP49FBWT4I7V',
 '1888861614',
 'Lori',
 'Very pleased with my purchase. Looks exactly like the picture and will look great on my cake. It definitely will sparkle.',
 'Love it',
 '']

In [11]:
cleaned_data = [get_values_from_row(row) for row in data]

In [12]:
# Create dataframe

In [13]:
data = pd.DataFrame(cleaned_data)

In [14]:
data = data.drop(columns = [8, 9, 10, 11,12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86], axis=1)

In [15]:
data.columns = ["overall", "verified","review_time", "reviewer_ID", "asin", "reviewer_name", "review_text", "summary"]

In [16]:
data

,overall,verified,review_time,reviewer_ID,asin,reviewer_name,review_text,summary
0,5.0,True,06 4 2013,ALP49FBWT4I7V,1888861614,Lori,Very pleased with my purchase. Looks exactly l...,Love it
1,4.0,True,05 23 2014,A1KPIZOCLB9FZ8,1888861614,BK Shopper,Very nicely crafted but too small. Am going to...,Nice but small
2,4.0,True,04 16 2014,A2VNHGJ59N4Z90,1888861614,LaQuinta Alexander,It was just what I want to put at the top of m...,Topper
3,5.0,True,12 1 2013,A94ZG5CWN70E7,1888861614,trinette claude,Omg.. The S was inexpensive and EXACTLY what w...,Great quality for this product. I have never b...
4,3.0,True,11 6 2013,A3QBT8YC3CZ7C9,1888861614,Rela1982,It was a nice size for a cake topper and it wa...,Great Buy.
...,...,...,...,...,...,...,...,...
999995,5.0,True,06 1 2017,AQ1R8PH7GCDZK,B007H9WMY4,Robert H. Schwenk,All plants healthy. All plants grew while stil...,Healthy Grow
999996,5.0,True,04 7 2017,AME5AJAKKRTKX,B007H9WMY4,Jenisue74,I received my plants today and they actually b...,None
999997,5.0,True,03 26 2017,A20N2ACXPA38W5,B007H9WMY4,Charming,These plants arrived in excellent condition an...,Five Stars
999998,5.0,True,03 3 2017,A1YT2ZY87RZXKU,B007H9WMY4,Dana Parr,All heathly!,Five Stars
999999,5.0,True,02 9 2017,A2ERZAAJ6KWVQT,B007H9WMY4,L. Reynolds,I bought these for my 5 year old granddaughter...,Healthy plants

In [17]:
# Dropped verified values that were not True or False

In [18]:
not_T_or_F = []

for item in data['verified'].unique():
    if len(item) > 5 or len(item) < 4:
        not_T_or_F.append(item)

In [19]:
for item in data['verified'].unique():
    if item in not_T_or_F:
        data.drop(data.loc[data['verified']== item].index, inplace=True)

In [20]:
data['verified'].unique()

array(['True', 'False'], dtype=object)

In [21]:
# Save to access later
data.to_pickle('/Users/jbpatty/project-4/true_false_cleaned.to_pickle')

In [61]:
data = pd.read_pickle(r'/Users/jbpatty/project-4/true_false_cleaned.to_pickle')

In [65]:
data['review_text'].replace('', np.nan, inplace=True)

In [67]:
data.dropna(inplace=True)

In [85]:
data.sample(5)

,overall,verified,review_time,reviewer_ID,asin,reviewer_name,review_text,summary
756884,5.0,True,10 12 2014,ASJVZOKKY75QN,B005CUK64S,April,If you are trying to cut out sugar and love ch...,
26711,5.0,True,10 13 2015,A1FM32XQ4WYV2H,B0009JRKDC,R. Parakh,thin consistency - easy to apply - smells amaz...,thin consistency - easy to apply - smells amaz...
823392,5.0,True,11 1 2013,A1YSUQ5LHAT9IF,B005NGW5TK,Moaz,The flavor and texture are really good. Compar...,
81123,5.0,True,01 8 2017,A2T9YR1CM696G1,B000H6AX0E,The Giz,Great product for my espresso machine when I j...,Works great in my expresso machine!
602118,5.0,True,06 7 2016,A3CA0ISQSUJB4D,B003DBL4VC,Amazon Customer,Good Coffee,Five Stars

In [71]:
data['overall'] = data['overall'].astype(float)

In [91]:
data['review_time'] = data['review_time'].str.replace('-', '')

In [93]:
data['review_time'] = pd.to_datetime(data['review_time'], format="%m-%d-%Y")

In [96]:
data.dtypes

overall                 float64
verified                 object
review_time      datetime64[ns]
reviewer_ID              object
asin                     object
reviewer_name            object
review_text              object
summary                  object
dtype: object

In [97]:
data['review_time']

0        2013-06-04
1        2014-05-23
2        2014-04-16
3        2013-12-01
4        2013-11-06
            ...
999994   2017-06-22
999995   2017-06-01
999997   2017-03-26
999998   2017-03-03
999999   2017-02-09
Name: review_time, Length: 500845, dtype: datetime64[ns]

In [99]:
# Save to access later
data.to_pickle('/Users/jbpatty/project-4/amazon_data_cleaned.to_pickle')

In [100]:
data = pd.read_pickle(r'/Users/jbpatty/project-4/amazon_data_cleaned.to_pickle')